.radar-wrapper {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.radar-ring {
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(0, 255, 255, 0.15);
}

.ring1 {
  width: 120px;
  height: 120px;
}

.ring2 {
  width: 180px;
  height: 180px;
}

.ring3 {
  width: 240px;
  height: 240px;
}

.ring4 {
  width: 300px;
  height: 300px;
}

.radar-cross {
  position: absolute;
  background: rgba(0, 255, 255, 0.12);
}

.horizontal {
  width: 300px;
  height: 1px;
}

.vertical {
  width: 1px;
  height: 300px;
}

.radar-sweep {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: conic-gradient(
    rgba(0, 255, 255, 0.45) 0deg,
    rgba(0, 255, 255, 0.15) 35deg,
    transparent 70deg,
    transparent 360deg
  );
  animation: radarRotate 5s linear infinite;
  filter: blur(2px);
}

.radar-sweep::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: radial-gradient(circle, transparent 55%, rgba(0,0,0,.7));
}

.radar-center {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #00ffff;
  box-shadow:
    0 0 10px #00ffff,
    0 0 25px #00ffff,
    0 0 45px #00ffff;
}

.pulse {
  position: absolute;
  border: 2px solid rgba(0,255,255,.35);
  border-radius: 50%;
  animation: pulseWave 3s infinite;
}

.pulse1 {
  animation-delay: 0s;
}

.pulse2 {
  animation-delay: 1.5s;
}

@keyframes radarRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulseWave {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}